$bg_color: #008929e0;
$bg_image: url(./logo2.png);
$width: 150px;
$height: 50px;

.header_block {
  margin-top: 1rem;
  margin-bottom: .5rem;
  justify-content: space-between;
      
  &__logo {
    width: $width;
    height: $height;
    background-image: $bg_image;
  }
  
  h4 {
    margin-top: 10px;
  }
}

.pgn_block {
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: default;

  .pgn_block__item {
    padding: 6px 30px 6px 30px;
    
    // .pgn_block__link {
    //   background-color:inherit;
    //   color: inherit;
    //   text-decoration: none;
    //   cursor: default;
    //   outline: 0 !important;
    //   border: 0 !important;
          
    //   &:visited,
    //   &:hover,
    //   &:focus,
    //   &:active {
    //     background-color:inherit;  
    //     text-decoration: inherit;
    //     color: inherit;
    //     outline: inherit;
    //     border: inherit;
    //   }
    // }
  }

  .active {
    background-color: $bg_color;
  }

}


